build/html/partials/footer/footer-default.html
<div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"/></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"/></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"/></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div>

source/html/partials/footer/footer-default.pug
.pre-footer
  .container
    .footer-logos(data-count="8")
      a(href="#" target="_blank").logo-wrap
        img(src="./assets/img/logo-ecoembes.png")
      .logo-wrap
        img(src="./assets/img/logo-itqi.png")
      .logo-wrap
        img(src="./assets/img/logo-bureau-veritas.png")
      .logo-wrap
        img(src="./assets/img/logo-emas.png")
      .logo-wrap
        img(src="./assets/img/logo-bureau-veritas-2.png")
      .logo-wrap
        img(src="./assets/img/logo-ilunion.png")
      .logo-wrap
        img(src="./assets/img/logo-eu.png")
      .logo-wrap
        img(src="./assets/img/logo-igualdad-empresa.png")
.container
  .row
    .col
      .solan-logo: .inner
      ul.social
        li
          a(href="#") YouTube
            i.ri-youtube-line
        li
          a(href="#") Instagram
            i.ri-instagram-line
        li
          a(href="#") Facebook
            i.ri-facebook-box-line
        li
          a(href="#") Twitter
            i.ri-twitter-line
  nav.row
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Compañía
      ul.list-container.tt
        li.list-item: a(href="#") Historia
        li.list-item: a(href="#") Misión y valores
        li.list-item: a(href="#") Premios
        li.list-item: a(href="#") Solán en el mundo
        li.list-item: a(href="#") Únete a nuestro equipo
        li.list-item: a(href="#") Informe anual
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Agua mineral natural
      ul.list-container.tt
        li.list-item: a(href="#") Agua mineral natural
        li.list-item: a(href="#") El manantial
        li.list-item: a(href="#") El poder del agua mineral
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Productos
      ul.list-container.tt
        li.list-item: a(href="#") Agua natural
        li.list-item: a(href="#") Agua con gas
        li.list-item: a(href="#") Aguas funcionales
        li.list-item: a(href="#") Aguas con sabor
        li.list-item: a(href="#") Dispensador
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Sostenibilidad
      ul.list-container.tt
        li.list-item: a(href="#") Protección del medio ambiente
        li.list-item: a(href="#") Envases y logística
        li.list-item: a(href="#") Compromiso con la sociedad
        li.list-item: a(href="#") Gestión ética
        li.list-item: a(href="#") Personas y talento
    // Ejemplo de maquetación con otros tags
    .col.dropdown.dropdown--sm
      h3.list-header.tt Mundo Solán
      .list-container.tt
        .list-item: a(href="#") Experiencia Solán
        .list-item: a(href="#") Patrocinios
        .list-item: a(href="#") Consejos por Xuan Lan
        .list-item: a(href="#") Recetas saludables
        .list-item: a(href="#") Bienestar
        .list-item: a(href="#") Embarazo
        .list-item: a(href="#") (Re)Convertibles
        .list-item: a(href="#") Los lugares más puros
  .row
    .col
      p.copyright &copy; 2022 Solán de Cabras. Todos los derechos reservados.
      ul.legal
        li: a(href="#") Aviso legal
        li: a(href="#") Contacta
        li: a(href="#") Política de cookies
        li: a(href="#") Condiciones generales
        li: a(href="#") Política de privacidad
