build/html/partials/header/header-default.html
<div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div>

source/html/partials/header/header-default.pug
.container.container--wide
  nav.primary
    a.home-link(href="index.html") Volver a la home
      .solan-logo: .inner
    .nav-wrap.tt
      ul.main
        li: a(href="#") AGUA MINERAL
        li.current-menu-parent: a(href="#") PRODUCTOS
        li: a(href="#") COMPAÑÍA
        li: a(href="#") SOSTENIBILIDAD
        li: a(href="#") MUNDO SOLÁN
        li: a(href="#") ESPACIO SO+
    .menu-toggle
      span.open: i.ri-menu-line
      span.close: i.ri-close-fill
  if hasSecondaryNav
    nav.secondary
      ul.pills.pills--nowrap.drag-to-scroll
        li: a(href="#") Agua con gas
        li.current-menu-item: a(href="#") Agua mineral
        li: a(href="#") Aguas funcionales
        li: a(href="#") Agua con sabor
        li: a(href="#") Dispensador
        li: a(href="#") Ediciones especiales
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
