source/html/partials/header/header-default_old.pug
.container.container--wide
  nav.primary
    a.home-link(href="index.html") Volver a la home
      .solan-logo: .inner
    .nav-wrap.tt
      ul.main
        li: a(href="#") Agua mineral de manantial
        li.current-menu-parent: a(href="#") Productos
        li: a(href="#") Sostenibilidad
        li: a(href="#") Mundo Solán
      .flex-spacer
      ul.aside
        li
          .lang-selector(data-select-wrap)
            span.placeholder ES
            i.ri-arrow-down-s-line
            select
              option(value="es" data-label="ES" selected) Español
              option(value="en" data-label="EN") English
        li: a(href="#") Espacio SO+
    ul.store
      li: a(href="#"): i.ri-shopping-bag-line
      li: a(href="#"): i.ri-user-smile-line
    .menu-toggle
      span.open: i.ri-menu-line
      span.close: i.ri-close-fill
  if hasSecondaryNav
    nav.secondary
      ul.pills.pills--nowrap.drag-to-scroll
        li: a(href="#") Agua con gas
        li.current-menu-item: a(href="#") Agua mineral
        li: a(href="#") Aguas funcionales
        li: a(href="#") Agua con sabor
        li: a(href="#") Dispensador
        li: a(href="#") Ediciones especiales
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra

build/html/partials/header/header-default_old.html
<div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">Agua mineral de manantial</a></li><li class="current-menu-parent"><a href="#">Productos</a></li><li><a href="#">Sostenibilidad</a></li><li><a href="#">Mundo Solán</a></li></ul><div class="flex-spacer"></div><ul class="aside"><li><div class="lang-selector" data-select-wrap="data-select-wrap"><span class="placeholder">ES</span><i class="ri-arrow-down-s-line"></i><select><option value="es" data-label="ES" selected="selected">Español</option><option value="en" data-label="EN">English</option></select></div></li><li><a href="#">Espacio SO+</a></li></ul></div><ul class="store"><li><a href="#"><i class="ri-shopping-bag-line"></i></a></li><li><a href="#"><i class="ri-user-smile-line"></i></a></li></ul><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div>
