build/fullscreen--image-text.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod dev-dummy-hero light minimal"></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--full-width</div></div><section class="mod mod--image-text mod--boxed mod--full-width"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg width="1228" height="241" viewBox="0 0 1228 241" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
<g>
<path d="M343.236 167.125C647.791 167.125 796.118 44 1249 44V241H-21V196.367C-9.88275 196.367 77.8265 167.125 343.236 167.125Z" fill="#002169"/>
</g>
<g>
<path d="M387.644 101.756C252.035 101.756 53.0089 80.4621 0 34.6838V241H1246V0C764.906 0 648.093 101.756 387.644 101.756Z" fill="#002169"/>
</g>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--text-left</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--full-width</div></div><section class="mod mod--image-text mod--text-left mod--boxed mod--full-width"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg width="1228" height="241" viewBox="0 0 1228 241" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
<g>
<path d="M343.236 167.125C647.791 167.125 796.118 44 1249 44V241H-21V196.367C-9.88275 196.367 77.8265 167.125 343.236 167.125Z" fill="#002169"/>
</g>
<g>
<path d="M387.644 101.756C252.035 101.756 53.0089 80.4621 0 34.6838V241H1246V0C764.906 0 648.093 101.756 387.644 101.756Z" fill="#002169"/>
</g>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-width</div></div><section class="mod mod--image-text mod--boxed mod--boxed-image mod--full-width"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-height</div></div><section class="mod mod--image-text mod--boxed mod--boxed-image mod--full-height"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-width</div><div class="modifier">.mod--full-height</div></div><section class="mod mod--image-text mod--boxed mod--boxed-image mod--full-width mod--full-height"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--text-left</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-width</div></div><section class="mod mod--image-text mod--text-left mod--boxed mod--boxed-image mod--full-width"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--text-left</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-height</div></div><section class="mod mod--image-text mod--text-left mod--boxed mod--boxed-image mod--full-height"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--image-text</div><div class="modifier">.mod--text-left</div><div class="modifier">.mod--boxed</div><div class="modifier">.mod--boxed-image</div><div class="modifier">.mod--full-width</div><div class="modifier">.mod--full-height</div></div><section class="mod mod--image-text mod--text-left mod--boxed mod--boxed-image mod--full-width mod--full-height"><img src="assets/img/text-image-background.jpg"><div class="image-wrap"><img src="assets/img/card.jpg" data-parallax="0,25"><img src="assets/img/nav-subsection.jpg" data-parallax="0,-25"></div><div class="text-wrap"><p class="pretitle">El manantial</p><h2 class="title">Un manantial único.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1507.99 293.99" style="enable-background:new 0 0 1507.99 293.99;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.st0-19{fill:#FED107;}
</style>
<path class="st0-19" d="M862.25,139.73c-138.42,32.72-269.16,63.63-435.93,63.63c-114.33,0-214.92,4.46-298.97,13.26
	C60.23,223.66,19.89,231.83,0,235.92v1.02c40.25-8.27,160.37-32.57,426.32-32.57c166.88,0,297.68-30.92,436.16-63.66
	c166.26-39.31,354.24-83.73,645.51-85.64v-1C1216.6,55.97,1028.56,100.42,862.25,139.73z"/>
<path class="st0-19" d="M1102.43,24.88c-109.78,14.62-199.2,33.94-278.1,51c-118.75,25.66-221.31,47.83-355.5,47.83
	c-88.39,0-190.54-7.44-273.25-19.9C127.01,93.48,38.1,74.79,0,44.09v1.28c38.63,30.55,127.12,49.14,195.43,59.43
	c82.76,12.46,184.97,19.91,273.4,19.91c134.29,0,236.9-22.18,355.71-47.85c78.88-17.05,168.28-36.37,278.02-50.98
	C1227,9.3,1359.67,1.16,1507.99,1V0C1359.63,0.16,1226.91,8.3,1102.43,24.88z"/>
</svg>
</section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>

source/fullscreen--image-text.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--boxed.mod--full-width
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--full-width
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-width
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-width.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-width
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-width.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg
