build/hero--post-no-picture.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod mod--hero mod--hero-post mod--no-picture"><div class="text-wrap"><div class="slide-wrap" data-autosize="height-max-child"><div class="slide current"><p class="pretitle">Un agua creada por la naturaleza</p><h1 class="title">Un agua creada por la naturaleza</h1><p>El &lt;h1&gt; debería ser único y solo usarse en la primera slide. Un agua mineral natural baja en sodio que llega tal y como brota del manantial, sin sufrir los efectos de la luz y sin variar su composición.</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a></div></div></div></section><div class="dev-banner after"><div class="base">.mod</div><div class="base">.mod--hero</div><div class="base">.mod--hero-post</div><div class="modifier">.mod--no-picture</div></div><section class="mod mod--margin-sm"><div class="text-editor"><div class="text-editor-container"><p>Presentamos <a href="#">#EscudosContraelCáncer</a>, una iniciativa solidaria para los más pequeños junto a La Fundación Real Madrid y la AECC. Si tienes hijos entre 6 y 14 años, pueden ayudarnos a contribuir en mejorar la calidad de vida de niños con cáncer. Para participar solo tienes que:</p><ol><li>Pedirle a los niños que dibujen su versión del escudo del Real Madrid.</li><li>Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.</li></ol><ul><li>Ejemplo de &lt;ul&gt;</li><li>Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.</li></ul><p><a href="#">Ver bases legales</a></p><h2>Ejemplo de subepígrafe (&lt;h2&gt;)</h2><blockquote>Fiel a nuestro compromiso con la sociedad y apoyo a los pacientes de cáncer, desde Solán de Cabras, hemos puesto en marcha una nueva iniciativa, de la mano de La Fundación Real Madrid y la Asociación Española Contra el Cáncer, con el objetivo de favorecer la calidad de vida de los niños que luchan contra esta enfermedad.<cite><p class="author">Jesús Núñez</p><p class="position">Director General de la Unidad de Negocio de Aguas de Mahou San Miguel </p></cite></blockquote><img src="assets/img/image-full.jpg"><blockquote>Desde el Real Madrid Club de Futbol queremos agradecer a nuestro partner Solán de Cabras por abanderar esta bonita acción. Y para embarcarnos en este tipo de acciones, no hay mejor compañero que nuestra Fundación Real Madrid. Este proyecto nos permitirá incrementar las acciones que desarrollamos enfocadas a dar apoyo al bienestar emocional de los niños enfermos de cáncer. En esta ocasión, contamos además con la Asociación Española Contra el Cáncer, a la que le agradecemos su presencia y su apoyo a este proyecto.<cite><p class="author">Emilio Butragueño</p><p class="position">Director de Relaciones Institucionales del Real Madrid</p></cite></blockquote><p>Solán de Cabras contribuirá con la Asociación Española Contra el Cáncer en favor del bienestar emocional de los niños con cáncer y a La Fundación Real Madrid, a través de la actividad física de los pacientes.</p><blockquote>El cáncer es una enfermedad que provoca gran dolor, incertidumbre y miedo. El tratamiento suele ser un proceso agresivo que conlleva momentos difíciles para toda la familia por lo que desde la Asociación Española Contra el Cáncer desarrollamos acciones orientadas a cubrir las necesidades tanto de pacientes como familiares.<cite><p class="author">Ana González</p><p class="position">Responsable del Área de Psicooncología de la Asociación Española Contra El Cáncer </p></cite></blockquote><p>A través de esta y otras iniciativas, la marca continúa, desde hace siete años, colaborando en diferentes acciones en la lucha contra el cáncer.</p><p>*Nota: El concurso estará activo desde el 15 de febrero hasta el 15 de marzo</p><p><a href="#">#ESCUDOSCONTRAELCÁNCER</a></p><p><a href="#">@SOLANDECABRAS</a></p><div class="video-embed" data-youtube-id="_MbQst_G1bI"><img src="assets/img/image-full.jpg"><div class="iframe-placeholder"></div></div></div></div><div class="text-editor-container"> <div class="share-wrap"><span>Compártelo</span><ul><li><a target="_blank" href="https://twitter.com/share?url=https://solandecabras.es/&amp;text=Título del post">Compártelo en Twitter<i class="ri-twitter-line"></i></a></li><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=https://solandecabras.es/">Compártelo en Facebook<i class="ri-facebook-box-line"></i></a></li><li><a target="_blank" href="mailto:?subject=Quiero%20compartir%20contigo%20la%20web%20de%20Solán%20de%20Cabras;body=Accede%20a%20este%20link:%20https://solandecabras.es/">Compártelo por mail<i class="ri-mail-line"></i></a></li></ul></div></div></section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>

source/hero--post-no-picture.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.mod--hero.mod--hero-post.mod--no-picture
      .text-wrap
        .slide-wrap(data-autosize="height-max-child")
          .slide.current
            p.pretitle Un agua creada por la naturaleza
            h1.title Un agua creada por la naturaleza
            p El &lt;h1&gt; debería ser único y solo usarse en la primera slide. Un agua mineral natural baja en sodio que llega tal y como brota del manantial, sin sufrir los efectos de la luz y sin variar su composición.
            a(href="#").btn.btn--cta: span Descúbrela

    .dev-banner.after
      .base .mod
      .base .mod--hero
      .base .mod--hero-post
      .modifier .mod--no-picture

    section.mod.mod--margin-sm
      .text-editor
        .text-editor-container

          p Presentamos #[a(href="#") #EscudosContraelCáncer], una iniciativa solidaria para los más pequeños junto a La Fundación Real Madrid y la AECC. Si tienes hijos entre 6 y 14 años, pueden ayudarnos a contribuir en mejorar la calidad de vida de niños con cáncer. Para participar solo tienes que:

          ol
            li Pedirle a los niños que dibujen su versión del escudo del Real Madrid.
            li Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.

          ul
            li Ejemplo de &lt;ul&gt;
            li Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.

          p: a(href="#") Ver bases legales

          h2 Ejemplo de subepígrafe (&lt;h2&gt;)

          blockquote
            | Fiel a nuestro compromiso con la sociedad y apoyo a los pacientes de cáncer, desde Solán de Cabras, hemos puesto en marcha una nueva iniciativa, de la mano de La Fundación Real Madrid y la Asociación Española Contra el Cáncer, con el objetivo de favorecer la calidad de vida de los niños que luchan contra esta enfermedad.
            cite
              p.author Jesús Núñez
              p.position Director General de la Unidad de Negocio de Aguas de Mahou San Miguel 

          img(src="assets/img/image-full.jpg")

          blockquote
            | Desde el Real Madrid Club de Futbol queremos agradecer a nuestro partner Solán de Cabras por abanderar esta bonita acción. Y para embarcarnos en este tipo de acciones, no hay mejor compañero que nuestra Fundación Real Madrid. Este proyecto nos permitirá incrementar las acciones que desarrollamos enfocadas a dar apoyo al bienestar emocional de los niños enfermos de cáncer. En esta ocasión, contamos además con la Asociación Española Contra el Cáncer, a la que le agradecemos su presencia y su apoyo a este proyecto.
            cite
              p.author Emilio Butragueño
              p.position Director de Relaciones Institucionales del Real Madrid

          p Solán de Cabras contribuirá con la Asociación Española Contra el Cáncer en favor del bienestar emocional de los niños con cáncer y a La Fundación Real Madrid, a través de la actividad física de los pacientes.

          blockquote
            | El cáncer es una enfermedad que provoca gran dolor, incertidumbre y miedo. El tratamiento suele ser un proceso agresivo que conlleva momentos difíciles para toda la familia por lo que desde la Asociación Española Contra el Cáncer desarrollamos acciones orientadas a cubrir las necesidades tanto de pacientes como familiares.
            cite
              p.author Ana González
              p.position Responsable del Área de Psicooncología de la Asociación Española Contra El Cáncer 

          p A través de esta y otras iniciativas, la marca continúa, desde hace siete años, colaborando en diferentes acciones en la lucha contra el cáncer.

          p *Nota: El concurso estará activo desde el 15 de febrero hasta el 15 de marzo

          p: a(href="#") #ESCUDOSCONTRAELCÁNCER
          
          p: a(href="#") @SOLANDECABRAS

          .video-embed(data-youtube-id="_MbQst_G1bI")
            img(src="assets/img/image-full.jpg")
            .iframe-placeholder

      .text-editor-container 
        .share-wrap
          span Compártelo
          ul
            li: a(target="_blank" href="https://twitter.com/share?url=https://solandecabras.es/&text=Título del post") Compártelo en Twitter
              i.ri-twitter-line
            li: a(target="_blank" href="https://www.facebook.com/sharer.php?u=https://solandecabras.es/") Compártelo en Facebook
              i.ri-facebook-box-line
            li: a(target="_blank" href="mailto:?subject=Quiero%20compartir%20contigo%20la%20web%20de%20Solán%20de%20Cabras;body=Accede%20a%20este%20link:%20https://solandecabras.es/") Compártelo por mail
              i.ri-mail-line
