build/modifiers--spacing.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod dev-dummy-hero light minimal"></section><section class="mod mod--grid" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">Superior</h2></div></section><section class="mod mod--grid" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">Sin modificador de espacio</h2></div></section><section class="mod mod--grid mod--margin-sm" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">.mod--margin-sm</h2></div></section><section class="mod mod--grid mod--margin-xs" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">.mod--margin-xs</h2></div></section><section class="mod mod--grid mod--margin-none" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">.mod--margin-none</h2></div></section><section class="mod mod--grid mod--margin-desktop-sm mod--margin-tablet-xs mod--margin-smartphone-none" style="outline: 1px solid rgba(0, 50, 160, .25)"><div class="mod-header" style="width: 100%; margin: 0 !important"><h2 class="title" style="margin: 0 !important">.mod--margin-desktop-sm<br>.mod--margin-tablet-xs<br>.mod--margin-smartphone-none</h2></div></section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>

source/modifiers--spacing.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)")
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") Superior

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)")
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") Sin modificador de espacio

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-sm
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-sm

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-xs
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-xs

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-none
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-none

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-desktop-sm.mod--margin-tablet-xs.mod--margin-smartphone-none
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-desktop-sm#[br].mod--margin-tablet-xs#[br].mod--margin-smartphone-none
