build/module--cards-product.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod dev-dummy-hero light minimal"></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-product</div><div class="modifier">.mod--single</div></div><section class="mod mod--cards-product mod--single"><div class="mod-header"><p class="pretitle">Nuestras aguas</p><h2 class="title">Nuestra agua de manantial nace en un enclave privilegiado</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descubre todas nuestras aguas</span></a></div><ul class="card-container"><li class="card"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li></ul></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-product</div><div class="modifier">.mod--single</div><div class="modifier">.mod--card-right</div></div><section class="mod mod--cards-product mod--single mod--card-right"><div class="mod-header"><h2 class="title">Nuestra agua de manantial nace en un enclave privilegiado</h2></div><ul class="card-container"><li class="card"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li></ul></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-product</div><div class="modifier">.mod--two-cols</div></div><section class="mod mod--cards-product mod--two-cols"><div class="header-wrap"><div class="mod-header"><p class="pretitle">Nuestras aguas</p><h2 class="title">Llegan a ti tal y como brotan del manantial.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descubre todas nuestras aguas</span></a></div></div><ul class="card-container"><li class="card"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-2.png"></div><h3 class="title">Agua mineral, texto a dos líneas</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-3.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-4.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li></ul></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-product</div><div class="modifier">.mod--three-cols</div></div><section class="mod mod--cards-product mod--three-cols"><div class="header-wrap"><div class="mod-header"><p class="pretitle">Nuestras aguas</p><h2 class="title">Llegan a ti tal y como brotan del manantial.</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descubre todas nuestras aguas</span></a></div></div><ul class="card-container"><li class="card"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza. Texto se va a dos líneas.</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-2.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-3.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-4.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-2.png"></div><h3 class="title">Agua mineral</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li></ul></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-product</div><div class="modifier">.mod--three-cols</div><div class="modifier">[data-theme="yellow"]</div><div class="modifier"><span>.card</span>[data-theme]</div></div><section class="mod mod--cards-product mod--three-cols" data-theme="yellow"><div class="header-wrap"><div class="mod-header"><h2 class="title">Theming</h2><a class="btn btn--link" href="#"><span>Descubre todas nuestras aguas</span></a></div></div><ul class="card-container"><li class="card" data-theme="mineral"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">Mineral</h3><p>Un agua así solo la crea la naturaleza. Texto se va a dos líneas.</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card" data-theme="primary"><div class="image-shadow"><img src="assets/img/bottle-2.png"></div><h3 class="title">Primary</h3><p>Heredado del módulo</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card"><div class="image-shadow"><img src="assets/img/bottle-3.png"></div><h3 class="title">Yellow</h3><p>Heredado del módulo</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card" data-theme="pomegranate"><div class="image-shadow"><img src="assets/img/bottle-4.png"></div><h3 class="title">Pomegranate</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card" data-theme="#ff0000"><div class="image-shadow"><img src="assets/img/bottle.png"></div><h3 class="title">#ff0000</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li><li class="card" data-theme="#00ff00"><div class="image-shadow"><img src="assets/img/bottle-2.png"></div><h3 class="title">#00ff00</h3><p>Un agua así solo la crea la naturaleza</p><a class="btn btn--cta" href="#"><span>Descúbrela</span></a><svg class="decoration-waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 411.1" style="enable-background:new 0 0 1224 411.1;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#F3F5FB" class="top" d="M380.8,86C247.6,86,52.1,76.1,0,60.5L0,411h1224V0C751.4,0,636.7,86,380.8,86z"/>
<path fill="#E7EAF5" class="middle" d="M696.7,69.4C585,82.3,483.3,94.1,351,94.1c-212.3,0-306.7,9.5-338.7,12.7c-6.6,0.7-10.5,1.1-12.3,1.1V129v282
	h1224V129V36C984.2,36,833,53.5,696.7,69.4z"/>
<g>
	<path fill="#DCE1F1" class="bottom" d="M843.2,390c133.2,0,328.7-9.9,380.8-25.5v46.5H0V304C472.6,304,587.3,390,843.2,390z"/>
</g>
</svg>
</li></ul></section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>

source/module--cards-product.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--single

    section.mod.mod--cards-product.mod--single
      .mod-header
        p.pretitle Nuestras aguas
        h2.title Nuestra agua de manantial nace en un enclave privilegiado
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--single
      .modifier .mod--card-right

    section.mod.mod--cards-product.mod--single.mod--card-right
      .mod-header
        h2.title Nuestra agua de manantial nace en un enclave privilegiado
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg      

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--two-cols

    section.mod.mod--cards-product.mod--two-cols
      .header-wrap
        .mod-header
          p.pretitle Nuestras aguas
          h2.title Llegan a ti tal y como brotan del manantial.
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral, texto a dos líneas
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--three-cols

    section.mod.mod--cards-product.mod--three-cols
      .header-wrap
        .mod-header
          p.pretitle Nuestras aguas
          h2.title Llegan a ti tal y como brotan del manantial.
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza. Texto se va a dos líneas.
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--three-cols
      .modifier [data-theme="yellow"]
      .modifier
        span .card
        | [data-theme]

    section.mod.mod--cards-product.mod--three-cols(data-theme="yellow")
      .header-wrap
        .mod-header
          h2.title Theming
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card(data-theme="mineral")
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Mineral
          p Un agua así solo la crea la naturaleza. Texto se va a dos líneas.
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="primary")
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Primary
          p Heredado del módulo
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Yellow
          p Heredado del módulo
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="pomegranate")
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Pomegranate
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="#ff0000")
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title #ff0000
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="#00ff00")
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title #00ff00
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
