source/module--grid.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-xl-cols="5"]
      .modifier
        span .grid-wrap
        | [data-lg-cols="3"]
      .modifier
        span .grid-wrap
        | [data-cols="2"]

    section.mod.mod--grid
      .mod-header
        p.pretitle Formatos
        h2.title El formato que mejor se adapta a cada momento.
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item.align-center
          h3.title Centrado vertical
          include assets/vector/decoration-waves-grid.svg
        .item.with-image.align-center
          img(src="assets/img/nav-subsection.jpg")
          h3.title Con imagen
          include assets/vector/decoration-waves-grid.svg

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-md-cols="3"]
      .modifier
        span .grid-wrap
        | [data-cols="1"]

    section.mod.mod--grid
      .mod-header
        p.pretitle Nota de cata
      .grid-wrap(data-md-cols="3" data-cols="1")
        .item
          h3.title Crujiente
          p Refrescante en boca con una burbuja crujiente y bien integrada.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Refrescante
          p Una burbuja fina, impoluta y brillante con un elegante final en boca.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Inesperada
          p Un agua con gas equilibrada, llena de frescura y elegancia.
          include assets/vector/decoration-waves-grid.svg
        .item(data-col="1/4" data-sm-col="auto")
          h3.title Cata:
          p MªJosé Huertas Sumiller NH – Terraza Casino de Madrid

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-cols]

    section.mod.mod--grid
      .mod-header
        h2.title Grids contiguos
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          img.icon(src="assets/img/grid-icon.png")
          h3.title Con icono
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Limón o lima
          p Un toque cítrica es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
      .grid-wrap(data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier [data-theme="orange"]
      .modifier
        span .grid-wrap
        | [data-cols]
      .modifier
        span .item
        | [data-theme]

    section.mod.mod--grid(data-theme="orange")
      .mod-header
        p.pretitle A nivel de módulo o de item
        h2.title Theming
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Orange
          p Heredado del módulo
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="mineral")
          h3.title Mineral
          p Sin SVG
        a(href="#").item(data-theme="yellow")
          h3.title Yellow
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="grapefruit")
          h3.title Grapefruit
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="pomegranate")
          h3.title Pomegranate
          p Un toque cítrica es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="mineral")
          h3.title Mineral
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="#ff0000")
          h3.title #ff0000
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        a(href="#").item(data-theme="#00ff00")
          h3.title #00ff00
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg          

build/module--grid.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod dev-dummy-hero light minimal"></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--grid</div><div class="modifier"><span>.grid-wrap</span>[data-xl-cols="5"]</div><div class="modifier"><span>.grid-wrap</span>[data-lg-cols="3"]</div><div class="modifier"><span>.grid-wrap</span>[data-cols="2"]</div></div><section class="mod mod--grid"><div class="mod-header"><p class="pretitle">Formatos</p><h2 class="title">El formato que mejor se adapta a cada momento.</h2></div><div class="grid-wrap" data-xl-cols="5" data-lg-cols="3" data-cols="2"><div class="item"><h3 class="title">Limón o lima</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Sin SVG</h3><p>Un toque cítrico es el acompañante perfecto.</p></div><a class="item" href="#"><h3 class="title">Este es enlace</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</a><div class="item align-center"><h3 class="title">Centrado vertical</h3><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item with-image align-center"><img src="assets/img/nav-subsection.jpg"><h3 class="title">Con imagen</h3><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div></div></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--grid</div><div class="modifier"><span>.grid-wrap</span>[data-md-cols="3"]</div><div class="modifier"><span>.grid-wrap</span>[data-cols="1"]</div></div><section class="mod mod--grid"><div class="mod-header"><p class="pretitle">Nota de cata</p></div><div class="grid-wrap" data-md-cols="3" data-cols="1"><div class="item"><h3 class="title">Crujiente</h3><p>Refrescante en boca con una burbuja crujiente y bien integrada.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Refrescante</h3><p>Una burbuja fina, impoluta y brillante con un elegante final en boca.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Inesperada</h3><p>Un agua con gas equilibrada, llena de frescura y elegancia.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item" data-col="1/4" data-sm-col="auto"><h3 class="title">Cata:</h3><p>MªJosé Huertas Sumiller NH – Terraza Casino de Madrid</p></div></div></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--grid</div><div class="modifier"><span>.grid-wrap</span>[data-cols]</div></div><section class="mod mod--grid"><div class="mod-header"><h2 class="title">Grids contiguos</h2></div><div class="grid-wrap" data-xl-cols="5" data-lg-cols="3" data-cols="2"><div class="item"><h3 class="title">Limón o lima</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Sin SVG</h3><p>Un toque cítrico es el acompañante perfecto.</p></div><a class="item" href="#"><h3 class="title">Este es enlace</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</a><div class="item"><img class="icon" src="assets/img/grid-icon.png"><h3 class="title">Con icono</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Limón o lima</h3><p>Un toque cítrica es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div></div><div class="grid-wrap" data-lg-cols="3" data-cols="2"><div class="item"><h3 class="title">Limón o lima</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item"><h3 class="title">Sin SVG</h3><p>Un toque cítrico es el acompañante perfecto.</p></div><a class="item" href="#"><h3 class="title">Este es enlace</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</a></div></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--grid</div><div class="modifier">[data-theme="orange"]</div><div class="modifier"><span>.grid-wrap</span>[data-cols]</div><div class="modifier"><span>.item</span>[data-theme]</div></div><section class="mod mod--grid" data-theme="orange"><div class="mod-header"><p class="pretitle">A nivel de módulo o de item</p><h2 class="title">Theming</h2></div><div class="grid-wrap" data-xl-cols="5" data-lg-cols="3" data-cols="2"><div class="item"><h3 class="title">Orange</h3><p>Heredado del módulo</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item" data-theme="mineral"><h3 class="title">Mineral</h3><p>Sin SVG</p></div><a class="item" href="#" data-theme="yellow"><h3 class="title">Yellow</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</a><div class="item" data-theme="grapefruit"><h3 class="title">Grapefruit</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item" data-theme="pomegranate"><h3 class="title">Pomegranate</h3><p>Un toque cítrica es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item" data-theme="mineral"><h3 class="title">Mineral</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><div class="item" data-theme="#ff0000"><h3 class="title">#ff0000</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</div><a class="item" href="#" data-theme="#00ff00"><h3 class="title">#00ff00</h3><p>Un toque cítrico es el acompañante perfecto.</p><svg version="1.1" class="decoration-waves-grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 266" style="enable-background:new 0 0 600 266;" xml:space="preserve" preserveAspectRatio="none">
<path fill="#E6EBF7" class="st0" d="M40.97,266c132.25,0,233.67,0,345.8,0c69.69,0,132.12,0,213.23,0v-99.98c-232.09,19.55-343.79,56.1-531.2,56.1
	c-21.59,0-44.82-0.21-68.8-0.61V266C12.55,265.95,27.48,266,40.97,266z"/>
<path fill="#CFD9EC" class="st1" d="M39.04,228.88c-13.49,0-26.49,0.03-39.04,0.08V266h600v-70.73c-80.69,4.51-149.72,10.28-215.28,15.76
	C272.98,220.37,171.29,228.88,39.04,228.88z"/>
</svg>
</a></div></section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>
