build/module--cards-slider.html
<!DOCTYPE html><html lang="es"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png"><link rel="manifest" href="./assets/favicon/site.webmanifest"><link rel="shortcut icon" href="./assets/favicon/favicon.ico"><meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"><title>Llénate de bienestar natural | Solán de Cabras</title><link href="./assets/style/css/site-local.css" rel="stylesheet"><link href="./assets/style/css/site-dev.css" rel="stylesheet"></head><body><div id="page"><header id="header"><div class="container container--wide"><nav class="primary"><a class="home-link" href="index.html">Volver a la home<div class="solan-logo"><div class="inner"></div></div></a><div class="nav-wrap tt"><ul class="main"><li><a href="#">AGUA MINERAL</a></li><li class="current-menu-parent"><a href="#">PRODUCTOS</a></li><li><a href="#">COMPAÑÍA</a></li><li><a href="#">SOSTENIBILIDAD</a></li><li><a href="#">MUNDO SOLÁN</a></li><li><a href="#">ESPACIO SO+</a></li></ul></div><div class="menu-toggle"><span class="open"><i class="ri-menu-line"></i></span><span class="close"><i class="ri-close-fill"></i></span></div></nav></div></header><main id="main"><div class="container"><section class="mod dev-dummy-hero light minimal"></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-slider</div></div><section class="mod mod--cards-slider"><ul class="pagination"><li><span class="prev"><i class="ri-arrow-left-s-line"></i></span></li><li><span class="next"><i class="ri-arrow-right-s-line"></i></span></li></ul><div class="main-wrap"><div class="mod-header"><p class="pretitle">Mundo Solán</p><h2 class="title">Tu blog de bienestar y salud</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a><ul class="pagination"><li><span class="prev"><i class="ri-arrow-left-s-line"></i></span></li><li><span class="next"><i class="ri-arrow-right-s-line"></i></span></li></ul></div><ul class="card-container"><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Imagen reencuadrada.</a></h3><p>En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li></ul></div><div class="img-wrap"><img src="assets/img/text-image-background.jpg"></div></section><div class="dev-banner"><div class="base">.mod</div><div class="base">.mod--cards-slider</div><div class="modifier">.mod--no-picture</div></div><section class="mod mod--cards-slider mod--no-picture"><ul class="pagination"><li><span class="prev"><i class="ri-arrow-left-s-line"></i></span></li><li><span class="next"><i class="ri-arrow-right-s-line"></i></span></li></ul><div class="main-wrap"><div class="mod-header"><p class="pretitle">Mundo Solán</p><h2 class="title">Tu blog de bienestar y salud</h2><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Descúbrela</span></a><ul class="pagination"><li><span class="prev"><i class="ri-arrow-left-s-line"></i></span></li><li><span class="next"><i class="ri-arrow-right-s-line"></i></span></li></ul></div><ul class="card-container"><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Imagen reencuadrada.</a></h3><p>En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li><li class="card"><a class="img-wrap" href="#"><img src="assets/img/blog-thumbnail.jpg"></a><div class="text-wrap"><a class="pretitle" href="#">Golf</a><h3 class="title"><a href="#">Entrada destacada.</a></h3><p>Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.</p><a class="btn btn--link" href="#"><span>Saber más</span></a></div></li></ul></div></section></div></main><footer id="footer"><div class="pre-footer"><div class="container"><div class="footer-logos" data-count="8"><a class="logo-wrap" href="#" target="_blank"><img src="./assets/img/logo-ecoembes.png"></a><div class="logo-wrap"><img src="./assets/img/logo-itqi.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-emas.png"></div><div class="logo-wrap"><img src="./assets/img/logo-bureau-veritas-2.png"></div><div class="logo-wrap"><img src="./assets/img/logo-ilunion.png"></div><div class="logo-wrap"><img src="./assets/img/logo-eu.png"></div><div class="logo-wrap"><img src="./assets/img/logo-igualdad-empresa.png"></div></div></div></div><div class="container"><div class="row"><div class="col"><div class="solan-logo"><div class="inner"></div></div><ul class="social"><li><a href="#">YouTube<i class="ri-youtube-line"></i></a></li><li><a href="#">Instagram<i class="ri-instagram-line"></i></a></li><li><a href="#">Facebook<i class="ri-facebook-box-line"></i></a></li><li><a href="#">Twitter<i class="ri-twitter-line"></i></a></li></ul></div></div><nav class="row"><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Compañía</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Historia</a></li><li class="list-item"><a href="#">Misión y valores</a></li><li class="list-item"><a href="#">Premios</a></li><li class="list-item"><a href="#">Solán en el mundo</a></li><li class="list-item"><a href="#">Únete a nuestro equipo</a></li><li class="list-item"><a href="#">Informe anual</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Agua mineral natural</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua mineral natural</a></li><li class="list-item"><a href="#">El manantial</a></li><li class="list-item"><a href="#">El poder del agua mineral</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Productos</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Agua natural</a></li><li class="list-item"><a href="#">Agua con gas</a></li><li class="list-item"><a href="#">Aguas funcionales</a></li><li class="list-item"><a href="#">Aguas con sabor</a></li><li class="list-item"><a href="#">Dispensador</a></li></ul></ul><ul class="col dropdown dropdown--sm"><li class="list-header tt"><a href="#">Sostenibilidad</a></li><ul class="list-container tt"><li class="list-item"><a href="#">Protección del medio ambiente</a></li><li class="list-item"><a href="#">Envases y logística</a></li><li class="list-item"><a href="#">Compromiso con la sociedad</a></li><li class="list-item"><a href="#">Gestión ética</a></li><li class="list-item"><a href="#">Personas y talento</a></li></ul></ul><!-- Ejemplo de maquetación con otros tags--><div class="col dropdown dropdown--sm"><h3 class="list-header tt">Mundo Solán</h3><div class="list-container tt"><div class="list-item"><a href="#">Experiencia Solán</a></div><div class="list-item"><a href="#">Patrocinios</a></div><div class="list-item"><a href="#">Consejos por Xuan Lan</a></div><div class="list-item"><a href="#">Recetas saludables</a></div><div class="list-item"><a href="#">Bienestar</a></div><div class="list-item"><a href="#">Embarazo</a></div><div class="list-item"><a href="#">(Re)Convertibles</a></div><div class="list-item"><a href="#">Los lugares más puros</a></div></div></div></nav><div class="row"><div class="col"><p class="copyright">&copy; 2022 Solán de Cabras. Todos los derechos reservados.</p><ul class="legal"><li><a href="#">Aviso legal</a></li><li><a href="#">Contacta</a></li><li><a href="#">Política de cookies</a></li><li><a href="#">Condiciones generales</a></li><li><a href="#">Política de privacidad</a></li></ul></div></div></div></footer></div><script src="./assets/scripts/site.js"></script></body></html>

source/module--cards-slider.pug
extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-slider

    section.mod.mod--cards-slider
      ul.pagination
        li: span.prev: i.ri-arrow-left-s-line
        li: span.next: i.ri-arrow-right-s-line
      .main-wrap
        .mod-header
          p.pretitle Mundo Solán
          h2.title Tu blog de bienestar y salud
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descúbrela
          ul.pagination
            li: span.prev: i.ri-arrow-left-s-line
            li: span.next: i.ri-arrow-right-s-line
        ul.card-container
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Imagen reencuadrada.
              p En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.
              a.btn.btn--link(href="#"): span Saber más
          each i in [1, 2, 3, 4]
            li.card
              a(href="#").img-wrap
                img(src="assets/img/blog-thumbnail.jpg")
              .text-wrap
                a(href="#").pretitle Golf
                h3.title: a(href="#") Entrada destacada.
                p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
                a.btn.btn--link(href="#"): span Saber más
      .img-wrap
        img(src="assets/img/text-image-background.jpg")


    .dev-banner
      .base .mod
      .base .mod--cards-slider
      .modifier .mod--no-picture

    section.mod.mod--cards-slider.mod--no-picture
      ul.pagination
        li: span.prev: i.ri-arrow-left-s-line
        li: span.next: i.ri-arrow-right-s-line
      .main-wrap
        .mod-header
          p.pretitle Mundo Solán
          h2.title Tu blog de bienestar y salud
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descúbrela
          ul.pagination
            li: span.prev: i.ri-arrow-left-s-line
            li: span.next: i.ri-arrow-right-s-line
        ul.card-container
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Imagen reencuadrada.
              p En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.
              a.btn.btn--link(href="#"): span Saber más
          each i in [1, 2, 3, 4]
            li.card
              a(href="#").img-wrap
                img(src="assets/img/blog-thumbnail.jpg")
              .text-wrap
                a(href="#").pretitle Golf
                h3.title: a(href="#") Entrada destacada.
                p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
                a.btn.btn--link(href="#"): span Saber más
